Langkah 1 Import Library

In [ ]:
import pandas as pd

Langkah 2 Masukan dataset dan cek dataset

In [ ]:
df_labeled = pd.read_csv('ada labelnya - Sheet1.csv')
df_unlabeled = pd.read_csv('gaada labelnya - Sheet1.csv')

print("Dataset Labeled:")
df_labeled.head()

Dataset Labeled:

                                Data Komentar TIKTOK Labeling
0  Aku sebagai pemakai Hb noera bangga banget con...  positif
1                         mending noera apa lauskin?   netral
2                          tapi kok di aku ga ngaruh  negatif
3  ikut gemeteran karena aku pake noera, ini cepe...  positif
4       Yeayy bangga banget sebagai pemakai hb noera  positif

In [4]:
print("Dataset Unlabeled:")
df_unlabeled.head()

Dataset Unlabeled:

                           Data Komentar TIKTOK  Labeling
0                   dok moisturizer Marina dong       NaN
1                Muar bngt bila llu d beranda q       NaN
2                              angel tacik dok!       NaN
3  Bu doktif review minuman Collagen juga dongg       NaN
4              DOK COBA BRAND CAMILLE PUNYA KAK       NaN